include LICENSE
include README.md
recursive-include oidc_provider_v2/static *
recursive-include oidc_provider_v2/templates *
recursive-include oidc_provider_v2/tests/templates *
recursive-include oidc_provider_v2/locale *
